<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <link rel="stylesheet" href="/styling/home.css">
    <link rel="stylesheet" href="/styling/baseline.css">
</head>
<body>
    <section class="todohome">
        <header>
            <h1>Express App</h1>
        </header>
        <section>
            <h3>Express App to Get Started Using Express</h3>
            <a href="/index" class="button">Start the App</a>
        </section>
    </section>
    <footer class="info">
        <p>Mikail yay</p>
    </footer>
</body>
</html>