<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <link rel="stylesheet" href="/styling/index.css">
    <link rel="stylesheet" href="/styling/baseline.css">
</head>
<body>
    <section class="todoapp">
        <nav class="nav">
            <ul>
                <li>
                    <form action="">
                        <button class="logout" type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <header class="header">
            <h1>Exercise App</h1>
            <form action="">
                <input type="text" class="activity" name="title" placeholder="Add something to do here" autofocus>
                <input type="hidden" name="filter" />
            </form>
        </header>
    </section>
    <footer class="info">

    </footer>
</body>
</html>