<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/baseline.css">
    <title>Login</title>
</head>
<body>
    <section class="prompt">
            <h3>Express App</h3>
            <h1>Sign In</h1>
            <hr>
            <form action="/login/password" method="post">
                <section>
                    <label for="username" class="">Username</label>
                    <input id="username" name="username" type="text"
                    autocomplete="current-password" required autofocus>
                </section>
                <section>
                    <label for="password" class="">Password</label>
                    <input id="password" name="password" type="text"
                    autocomplete="current-password" required autofocus>
                </section>
                <button type="submit">Submit</button>
            </form>
            <hr>
            <p class="help">Don't have account? <a href="/signup"> Sign up here. </a></p>
    </section>
    <footer class="info">
        <p>Mikail yay</p>
    </footer>
</body>
</html>