<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/baseline.css">
    <title>Login</title>
</head>
<body>
    <section class="prompt">
            <h3>Express App</h3>
            <h1>Sign In</h1>
            <hr>
        <section>
            <h2 class="alert"><%= message %></h2>
            <hr>
            <a href="login" class="button">Sign In</a>
        </section>
    </section>
    <footer class="info">
        <p>Mikail yay</p>
    </footer>
</body>
</html>