body {
    background: rgb(228, 233, 47);
    background: radial-gradient(circle, rgba(228, 233, 47, 0) 
    40%, rgba(197, 194, 249, 1) 74%, rgba(0, 212, 255, 1) 100%);
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    line-height: 1.4em;
    color: #111111;
    min-width: 230px;
    max-width: 550px;
    font-weight: 300;
}

.todoapp {
    background: white;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px black, 0 25px 50px 0 black;
}

.todoapp h1 {
    position: absolute;
    top: -140px;
    width: 100%;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    color: #b83f45;
}

.todoapp h3 {
    padding-bottom: 48px;
    font-size: 28px;
    font-weight: 300;
}

.todoapp section {
    padding-top: 1px;
    text-align: center;
}

.todoapp .button {
    padding: 13px 45px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background: #d83f45;
}

.todoapp a.button {
    text-decoration: none;

}

.alert {
    padding: 40px;
    background-color: #f44366;
    color: white;
    margin-bottom: 0px;
}

.info {
    margin: 65px auto 0;
    color: #4d4d4d;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}